name: Terraform CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.0.0

    - name: Terraform Format
      run: terraform fmt -check -recursive
      continue-on-error: false

    - name: Terraform Init
      run: terraform init

    - name: Terraform Validate
      run: terraform validate
      
    # - name: Install tfsec
    #   run: |
    #     wget https://github.com/aquasecurity/tfsec/releases/download/v0.58.10/tfsec-linux-amd64
    #     chmod +x tfsec-linux-amd64
    #     sudo mv tfsec-linux-amd64 /usr/local/bin/tfsec
    
    - name: tfsec action
      uses: aquasecurity/tfsec-action@v1.0.3

    - name: Run tfsec
      run: tfsec --tfvars-file=terraform.tfvars
